<!DOCTYPE html>
<html>
<head>
  <title>FortuneCookie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  
</head>
<body onload="preparePage(), gameTime()">
<%= render '/layouts/navigation' %>

	 <% if current_user %>
	<h1> <%= current_user.user_name %> <br>
	<h2>Score: <%= current_user.score %></h2>
	 </h1>

	 <% else %>
	 <a href="/sign-in"> <%= "Sign in, yo" %> </a> <br>
	 <a href="/users/new"> <%= "Sign up, yo" %> </a>

	 <% end %>

<%= yield %>

</body>
</html>
