<!DOCTYPE html>
<html>
<head>
  <title>FortuneCookie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  
</head>
<body>
<img id="cookie" onclick="smash()" src="http://f.tqn.com/y/webclipart/1/S/z/I/6/Fortune-Cookie.png">
<!-- <img id="debris" src="https://cdn0.iconfinder.com/data/icons/common-warnings/512/explosion_crack_rock-512.png" alt=""> -->

	 <% if current_user %>
	<h1> <%= current_user.user_name %> <br>
	<h2>Score: <%= current_user.score %></h2>
	 </h1>

	 <% else %>
	 <a href="/sign-in"> <%= "Sign in, yo" %> </a>

	 <% end %>

<%= yield %>

</body>
</html>
