<!DOCTYPE html>
<html>
<head>
  <title>FortuneCookie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  
</head>
<body onload="preparePage()">
	 <% if current_user %>
	<h4> <%= current_user.user_name %> : <%= current_user.score %> </h4>

	 <% else %>
	 <p>Behold! You've found the perfect activity to wile away your dwindling time on this earth, and find hollow distraction from the toil that are the day-to-day horrors of existence. </p>
	 <% end %>
	 <hr>
<%= render '/layouts/navigation' %>


<hr>
<%= yield %>

</body>
</html>
